/*  your css code here. If applicable */
html,body{
	height:100%;
	width:100%;
	padding:0px;
	margin:0px;
}
p{
	padding:10px;
	font-size:20px;
}
button{
	background-color:salmon;
	padding: 10px;
	border-radius: 16px;
}
